@import "tailwindcss";
@import "tw-animate-css";
/* @import "tw-animate-css"; */
/* @import "tw-animate-css"; */
@tailwind base;
@tailwind components;
@tailwind utilities;
@custom-variant dark (&:is(.dark *));
html {
  scroll-behavior: smooth;
}


declare module '*.css';